<section class="administration-main">
  <h1 class="administration-main-title">Admin Dashboard</h1>
  <div>
    <div class="administration-main-stats">
      <div class="administration-main-stats-item">
        <div># of post posted today:</div>
        <div>numOfPostsToday</div>
      </div>
      <div class="administration-main-stats-item">
        <div># of post posted this week:</div>
        <div>numOfPostsThisWeek</div>
      </div>
    </div>
  </div>
  <script src="views/Administration/Administration.js"></script>
</section>
