<section class="profile-container">
  <header class="profile-header">
    <a class="back-to-arrow-link" href="/main/groups" data-link title="Groups"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>
    <div class="profile-details-container">
      <div id="profile-details-profile-image-container"></div>
      <div class="profile-details-data">
        <div class="profile-details-data-stats">
          <div class="profile-details-data-stats-item">
            <div id="group-number-of-posts"></div>
            <div class="profile-details-data-stats-item-title">Posts</div>
          </div>
          <div class="profile-details-data-stats-item">
            <div id="group-number-of-members"></div>
            <div class="profile-details-data-stats-item-title">Members</div>
          </div>
        </div>
        <div
          id="group-profile-description"
          class="profile-details-data-description"
        ></div>
      </div>
    </div>
  </header>
  <div id="profile-main" class="profile-main">
    <div class="create-post-container">
      <form onsubmit="createPost(event)">
        <div
          id="create-post-group-profile-img-container"
          class="create-post-user-profile-img-container"
        ></div>
        <textarea
          class="create-post-input"
          placeholder="Write something..."
        ></textarea>
        <img
          id="uploaded-post-image"
          src="#"
          alt="post-media"
          class="uploaded-post-media"
        />
        <video controls class="uploaded-post-media">
          <source src="#" type="video/mp4" id="uploaded-post-video" />
        </video>
        <label class="create-post-icon-container">
          <input
            accept="image/*"
            type="file"
            class="input-post-img"
            onchange="showMedia(event, 'image')"
          />
          <i class="fa-regular fa-image fa-sm"></i>
        </label>
        <label class="create-post-icon-container">
          <input
            accept="video/*"
            type="file"
            class="input-post-img"
            onchange="showMedia(event, 'video')"
          />
          <i class="fa-solid fa-video fa-sm"></i>
        </label>
        <div class="create-post-icon-container-divider"></div>
        <button
          class="create-post-icon-container create-post-submit-btn"
          type="submit"
        >
          <i class="fa-regular fa-paper-plane fa-sm"></i>
        </button>
      </form>
    </div>
    <div id="profile-feed-content" class="feed-content"></div>
  </div>
</section>
