.friend-main {
  margin-top: 0;
}

.chat-icon-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
}

.chat-icon-container div {
  background-color: var(--turquoise);
  width: 15px;
  height: 15px;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 1em;
}

.chat-icon-container div:hover {
  cursor: pointer;
  background-color: var(--dark-turquoise);
}

@media screen and (max-width: 630px) {
  .friend-main {
    height: calc(100% - 215px);
  }
}
