<section class="groups-container">
  <header class="groups-header">
    <div class="search-container">
      <div class="search-bar">
        <input
          class="search-input"
          placeholder="Search groups..."
          oninput="handleGroupSearch(event)"
        />
        <i class="fa-solid fa-magnifying-glass search-bar-icon"></i>
      </div>
    </div>
  </header>
  <div id="groups-main" class="groups-main">
    <div class="search-something">
      <i class="fa-solid fa-magnifying-glass search-bar-icon fa-lg"></i>
      <div>Search Something</div>
    </div>
  </div>
  <script src="views/Groups/Groups.js"></script>
</section>
