<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../views/App.css" />
    <link href="../../utils/Notifications.css" rel="stylesheet" />
    <link href="../../views/MainPage/MainPage.css" rel="stylesheet" />
    <link href="../../views/Feed/Feed.css" rel="stylesheet" />
    <link
      href="../../views/Administration/Administration.css"
      rel="stylesheet"
    />
    <link href="../../views/Friends/Friends.css" rel="stylesheet" />
    <link href="../../views/Groups/Groups.css" rel="stylesheet" />
    <link href="../../views/Group/Group.css" rel="stylesheet" />
    <link href="../../views/Profile/Profile.css" rel="stylesheet" />
    <link href="../../views/Friend/Friend.css" rel="stylesheet" />
  </head>
  <body>
    <section class="aside-section">
      <aside class="feed-aside">
        <div class="header-logo-container">
          <img
            src="../../resources/images/travely-transparent-background.png"
            alt="country-img"
            class="logo-img"
          />
        </div>
        <nav id="main-navbar" class="main-navbar">
          <a
            id="main-navbar-item-feed"
            href="/main/feed"
            class="main-navbar-item"
            data-link
            onclick="handleSidebarChange(event)"
            title="Feed"
            >Feed</a
          >
          <a
            id="main-navbar-item-profile"
            href="/main/profile"
            class="main-navbar-item"
            data-link
            onclick="handleSidebarChange(event)"
            title="Profile"
            >Profile</a
          >
          <a
            id="main-navbar-item-friends"
            href="/main/friends"
            class="main-navbar-item"
            data-link
            onclick="handleSidebarChange(event)"
            title="Friends"
            >Friends</a
          >
          <a
            id="main-navbar-item-groups"
            href="/main/groups"
            class="main-navbar-item"
            data-link
            onclick="handleSidebarChange(event)"
            title="Groups"
            >Groups</a
          >
          <a
            id="main-navbar-item-administration"
            href="/main/administration"
            class="main-navbar-item"
            data-link
            onclick="handleSidebarChange(event)"
            title="Administration"
            >Administration</a
          >
          <button
            class="logout-btn navbar-logout-btn main-navbar-item"
            onclick="showModal('sm','Are you sure you want to logout?','Logout', 'logout')"
          >
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </nav>
        <button
          class="logout-btn aside-logout-btn"
          onclick="showModal('sm','Are you sure you want to logout?','Logout', 'logout')"
        >
          Logout
        </button>
      </aside>
    </section>
    <section id="main-data-section" class="main-data-section">
      <footer class="feed-footer"></footer>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="../../utils/Notifications.js"></script>
    <script src="../../views/Feed/Feed.js"></script>
    <script src="../../views/Administration/Administration.js"></script>
    <script src="../../views/Profile/Profile.js"></script>
    <script src="../../views/Friends/Friends.js"></script>
    <script src="../../views/Groups/Groups.js"></script>
    <script src="../../views/MainPage/MainPage.js"></script>
    <script type="module" src="../../views/MainPage/MainPageModule.js"></script>
  </body>
</html>
