<div class="header-logo-container">
  <img
    src="../../resources/images/travely-transparent-background.png"
    alt="country-img"
    class="logo-img"
  />
</div>
<header class="feed-header">
  <div class="search-container">
    <div class="search-bar">
      <input class="search-input" placeholder="Search here..." />
      <i class="fa-solid fa-magnifying-glass search-bar-icon"></i>
    </div>
  </div>
  <div class="chat-icon-container">
    <div>
      <i class="fa-solid fa-message fa-sm"></i>
    </div>
  </div>
</header>
<main class="feed-main">
  <section class="feed-main-content">
    <div class="top-groups">
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
      <div class="top-groups-item">
        <img
          src="../../resources/images/brazil.jpeg"
          alt="country-img"
          class="top-groups-item-img"
        />
        <img
          src="../../resources/images/Brazilian_Flag_-_round.svg.png"
          alt="country-flag-img"
          class="top-groups-item-flag-img"
        />
      </div>
    </div>
    <div class="create-post-container">
      <div>
        <div class="create-post-user-profile-img-container">
          <i class="fa-solid fa-user"></i>
        </div>
        <textarea
          class="create-post-input"
          placeholder="Write something..."
        ></textarea>
        <div class="create-post-icon-container">
          <i class="fa-regular fa-image fa-sm"></i>
        </div>
        <div class="create-post-icon-container">
          <i class="fa-solid fa-video fa-sm"></i>
        </div>
        <div class="create-post-icon-container-divider"></div>
        <div class="create-post-icon-container">
          <i class="fa-regular fa-paper-plane fa-sm"></i>
        </div>
      </div>
    </div>
    <section class="feed-content">
      <div class="post-container">
        <header class="post-header">
          <div class="post-header-profile-img-container">
            <i class="fa-solid fa-user fa-sm"></i>
          </div>
          <div class="post-header-date">2 days ago</div>
        </header>
        <div class="post-media-section">
          <img
            src="/resources/images/paris.jpg"
            alt="country-img"
            class="post-media"
          />
        </div>
        <div class="post-btns">
          <button class="post-like-btn">
            <i
              class="fa-regular fa-heart fa-lg"
              onclick="handlePostLike(event)"
            ></i>
          </button>
          <button class="post-comment-btn">
            <i class="fa-regular fa-comment fa-lg"></i>
          </button>
          <button class="post-share-btn">
            <i class="fa-solid fa-share fa-lg"></i>
          </button>
        </div>
        <div class="post-text">
          <span class="post-text-username">username</span>
          My beautiful paris!
        </div>
      </div>
      <div class="post-container">
        <header class="post-header">
          <div class="post-header-profile-img-container">
            <i class="fa-solid fa-user fa-sm"></i>
          </div>
          <div class="post-header-date">2 days ago</div>
        </header>
        <div class="post-media-section">
          <video controls class="post-media">
            <source src="/resources/videos/paris_video.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="post-btns">
          <button class="post-like-btn">
            <i
              class="fa-regular fa-heart fa-lg"
              onclick="handlePostLike(event)"
            ></i>
          </button>
          <button class="post-comment-btn">
            <i class="fa-regular fa-comment fa-lg"></i>
          </button>
          <button class="post-share-btn">
            <i class="fa-solid fa-share fa-lg"></i>
          </button>
        </div>
        <div class="post-text">
          <span class="post-text-username">username</span>
          My beautiful paris!
        </div>
      </div>
    </section>
  </section>
</main>
